@import '@/styles/variables';

#admin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .btn {
        width: 228px;
        margin-top: 15px;
        margin-top: auto;
    }

    a {
        display: inline-block;
    }
}