$font-family: Arial, Helvetica, sans-serif;

$color-font1: #F2F5FF;
$color-font2: #F2F5FF;
$color-font3: #020F2A;
$color-bg1: #151515;
$color-bg2: #1D1D1D;
$color-bg3: #F2F5FF;
$color-border1: rgba(255, 255, 255, 0.075);
$color-disabled1: #BBBBBB;
$color-red: #ed5e68;

$btn-border1: 5px;

$z-index-1: 9999;
$z-index-2: 999;
$z-index-3: 99;
$z-index-4: 9;
$z-index-5: 1;

$chess-white: white;
$chess-black: grey;
